# Ignore everything
**

# But not these files and directories
!.gitignore
!app.py
!output_map.html
!newmapgen.py
!requirements.txt
!Procfile
!runtime.txt
!data/
!data/Chicago/
!tl_2023_17_cousub.shp

# Include the templates directory and all of its subdirectories
!templates/
!templates/**

# Include the data directory, but ignore everything inside it by default
!data/

# Now, exclude the ignore rule for the Chicago directory and the specific shapefile
!data/Chicago/
!data/COUSUB/tl_2023_17_cousub.shp

# Ignore other shapefiles and XML files in the data directory
data/**/*.shp
data/**/*.xml